<%= form_with(model: [ @novel, Comment.new ], remote: true) do |form| %>
    <div class="novel_rate"></div>
    Your Comment:<br>
    <%= form.hidden_field :content, id: :novel_comments %>
    <trix-editor input="novel_comments"></trix-editor>
    <%= form.submit %>
<% end %>

<script>
$(function() {
    $('.novel_rate').raty({
        score: 5, 
        starType: 'i',
    })
})
</script>