<h1>Web#index</h1>
<p>Find me in app/views/web/index.html.erb</p>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
<a onclick="M.toast({html: 'I am a toast'})" class="btn">Toast!</a>

<ul class="collapsible">
<li>
  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
</li>
<li>
  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
</li>
<li>
  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
</li>
</ul>
    