<div data-controller="comment">
    <div class="container">
        <div data-target="comment.preview"></div>
    </div>
    <%= form_with(model: [ @question, Comment.new ], remote: true) do |form| %>
        Your Comment:<br>
        <%= form.text_area :content, 'data-target': 'comment.content', 'data-action': 'input->comment#content',  size: '50x20' %><br>
        <%= form.submit %>
    <% end %>
</div>

<%= javascript_pack_tag 'application.js' %>