<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<div data-controller="chat">
  <div data-target="chat.chats"></div>

  <input data-target="chat.content">
  <button data-action="click->chat#submit" data-action="click->chat#update">submit</button>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
